

.main-nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }


  .logo {
    width: 100px;
    height: 40px;
    background: url('../../assets/icons/F1.svg') 100% no-repeat;
    background-size: 120px;
    display: inline-block;
  }