<li class="nav-item dropdown d-flex">
    <a class="nav-link dropdown-toggle season" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        SEASONS
    </a>
    <ul class="dropdown-menu p-3" aria-labelledby="navbarDropdown">
        <li><input class="form-control" [(ngModel)]="filter" /></li>
        <li>
            <hr class="dropdown-divider" />
        </li>
        <li>
            <a class="dropdown-item season-item" (click)="onSelectSeason(year)"
                *ngFor="let year of date_range | seasonFilter: filter">
                <p>{{ year }}</p>
                <i class="bi bi-check2-circle" *ngIf="year === selected_year"></i>
            </a>
        </li>
    </ul>
</li>