
      .hyperLink {
        text-decoration: underline;
        color: var(--bs-blue);
      }

      .special {
        background-color: var( --bs-red-f1) !important;
        color: #ffffff;
        display: block;
      }